<div class="navbar primary-navbar row no-margin">
  <!-- Nav Left -->
  <div class="navbar-section">
    <a href ui-sref="home" class="brand">
      <img ng-attr-src="{{$ctrl.assetLogo}}">
    </a>
    <span class="navbar-vertical-divider"></span>
    <nav>
      <a href ui-sref="home" ui-sref-active="active">
        <i class="icon-home"></i>
      </a>
      <a href ui-sref="chips" ui-sref-active="active">
        <i class="icon-chips"></i>
      </a>
    </nav>
  </div>
  <!-- Nav Left -->
</div>